<%= render partial:'partials/user_partial', locals: {user: @user}%>

<% @user_posts.each do |post| %>
<%= render partial:'partials/post_partial', locals: {post: post}%>
<ul>
<% post.recent_comments.each do |comment|%>
<li> <%= comment.author.name%>: <%= comment.text%></li>
<% end %>
</ul>
<% end %>

<%= link_to "Add new post", new_user_post_path(@user), class: " see-all-btn" %>